src/WebContent/wsdl/AddBarang.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://SOAP.helloJsp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://SOAP.helloJsp" xmlns:intf="http://SOAP.helloJsp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://SOAP.helloJsp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createBarang">
    <complexType>
     <sequence>
      <element name="id_inventori" type="xsd:int"/>
      <element name="kategori" type="xsd:int"/>
      <element name="nama" type="xsd:string"/>
      <element name="jumlah" type="xsd:int"/>
      <element name="gambar" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="harga" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createBarangResponse">
    <complexType>
     <sequence>
      <element name="createBarangReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createBarangResponse">

      <wsdl:part element="impl:createBarangResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createBarangRequest">

      <wsdl:part element="impl:createBarang" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddBarang">

      <wsdl:operation name="createBarang">

         <wsdl:input message="impl:createBarangRequest" name="createBarangRequest">

       </wsdl:input>

         <wsdl:output message="impl:createBarangResponse" name="createBarangResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddBarangSoapBinding" type="impl:AddBarang">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createBarang">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createBarangRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createBarangResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddBarangService">

      <wsdl:port binding="impl:AddBarangSoapBinding" name="AddBarang">

         <wsdlsoap:address location="http://localhost:8080/Chintalian/services/AddBarang"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
