src/WebContent/wsdl/CekBarang.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://SOAP.helloJsp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://SOAP.helloJsp" xmlns:intf="http://SOAP.helloJsp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://SOAP.helloJsp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cekBarang">
    <complexType>
     <sequence>
      <element name="nama" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cekBarangResponse">
    <complexType>
     <sequence>
      <element name="cekBarangReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="cekBarangResponse">

      <wsdl:part element="impl:cekBarangResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cekBarangRequest">

      <wsdl:part element="impl:cekBarang" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CekBarang">

      <wsdl:operation name="cekBarang">

         <wsdl:input message="impl:cekBarangRequest" name="cekBarangRequest">

       </wsdl:input>

         <wsdl:output message="impl:cekBarangResponse" name="cekBarangResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CekBarangSoapBinding" type="impl:CekBarang">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cekBarang">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cekBarangRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cekBarangResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CekBarangService">

      <wsdl:port binding="impl:CekBarangSoapBinding" name="CekBarang">

         <wsdlsoap:address location="http://localhost:8080/Chintalian/services/CekBarang"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
